[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/w0rp/ale
[submodule "vim/bundle/SimpylFold"]
	path = vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "vim/bundle/python-syntax"]
	path = vim/bundle/python-syntax
	url = https://github.com/vim-python/python-syntax
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-jsx-pretty"]
	path = vim/bundle/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/vim-markdown-preview"]
	path = vim/bundle/vim-markdown-preview
	url = https://github.com/JamshedVesuna/vim-markdown-preview.git
[submodule "vim/pack/tpope/start/commentary"]
    path = vim/pack/tpope/start/commentary
    url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/tpope/start/surround"]
    path = vim/pack/tpope/start/surround
    url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/tpope/start/repeat"]
    path = vim/pack/tpope/start/repeat
    url = https://tpope.io/vim/repeat.git
[submodule "vim/bundle/vim/bundle/VimCompletesMe"]
	path = vim/bundle/VimCompletesMe
	url = https://github.com/vim-scripts/VimCompletesMe.git
[submodule "vim/bundle/vim-jsx-pretty"]
	path = vim/bundle/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
